*.o
*.depends
nachos
coff2flat
coff2noff
disassemble
readnoff
system_instructions.txt
*.coff
cat
cd
cp
create
echo
filetest
halt
lib
ls
matmult
mkdir
remove
rm
shell
sort
test_file_ext
tiny_shell
touch
write
SWAP.*
DISK